version: '2.1'

services:
  db:
    build: ./db
    restart: always
    environment:
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: database
  backend:
    build: ./backend
    expose:
      - 5000
    ports:
      - 5000:5000
      - 5001:5001
  frontend:
    build: ./frontend
    ports:
      - 80:3000
    environment:
      - REACT_APP_WSBACKEND=ws://192.168.0.115:5001
