.Chat {
    
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    height: 90%;
    margin: 2.5%;
    width: 75%;
}

.Chat-title {
    
    border-radius: 20px;
    margin: 0;
    width: 100%;
    text-align: center;
    justify-content: center;
    height: 100px;
}

.Chat-messages {
    height: 70%;
    overflow: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(255,255,255, 0.6)
}

.Message {
    border-radius: 20px;

    margin: 0;
    padding: 10px;
    width: fit-content;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-self: flex-start
}

.Message.Self {
    align-self: flex-end
}

.Message-meta {
    display: flex;
    justify-content: space-between
}

.Message-meta p {
    margin: 4px;
}

.Message-text {
    margin: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.Chat-write {

    width: 100%;
    display: flex;
    border-radius: 20px;
    justify-self: flex-end;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.05)
}

.Chat-write input {
    background-color: unset;
    font-size: 20px;
    width: 100%;
    border: none;
    padding: 10px;
    outline: none;
    border-radius: 0 0 0 20px
}

.Chat-write button {
    border: none;
    padding: 10px;
    width: 10%;
    border-radius: 20px
}