.Login {
    background: white;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.Login input {
    border: none;
    font-size: 40px;
    text-align: center;
    outline: none;
    background: rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}
.Login input:-internal-autofill-selected {
    background-color: none !important;
    background-image: none !important;
    color: rgb(0, 0, 0) !important;
}

.Login button {
    
    transition: all 0.2s;
    border: none;
    font-size: 30px;
    text-align: center;
    outline: none;
    background: rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 10px;
}

.Login button:hover {
    background: rgba(0, 0, 0, 0.1);
}